body {
	margin: 0;
}

* {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
}

ul,
li {
	padding: 0;
	margin: 0;
	outline: none;
}

li {
	display: inline;
}

.clearfix {
	clear: both;
}

img {
	display: block;
}

input {
	border: none;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
}


/*------------top-----------------*/

.top_center {
	width: 1000px;
	margin: auto;
	padding-top: 22px;
}

.top_center .left {
	float: left;
}

.top_center .right {
	float: right;
	margin-top: 24px;
}

.top_seven {
	background-image: url(../img/7tianwuliyou.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin-right: 16px;
}

.top_real {
	background-image: url(../img/1000.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin-left: 16px;
	margin-right: 16px;
}

.top_back {
	background-image: url(../img/money.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin-left: 16px;
}


/*-----------------banner------------------------------*/

.banner {
	margin-top: 17px;
	background: #F2EEE3;
	height: 523px;
	position: relative;
}

.banner_img {
	position: absolute;
	left: 44%;
	margin-left: -500px;
}

.banner_center {
	width: 1080px;
	height: 523px;
	margin: auto;
	position: absolute;
	left: 50%;
	margin-left: -500px;
}


/*------------------------------------------------*/

.banner_center .login {
	width: 294px;
	height: 307px;
	margin-top: 95px;
	background: white;
	position: absolute;
	right: 80px;
	padding: 18px 30px 18px 30px;
}

.login {
	color: #333333;
}

.login_title_1 a {
	float: left;
	padding: 11px 44px 14px 44px;
	border-bottom: 2px solid #333333;
}

.login_title_2 a {
	float: left;
	padding: 11px 44px 14px 44px;
	border-bottom: 2px solid #333333;
}

.login_title_1 a:hover {
	color: #F41443;
	border-bottom: 2px solid #F41443;
}

.login_title_2 a:hover {
	color: #F41443;
	border-bottom: 2px solid #F41443;
}

.login_user {
	height: 40px;
	width: 250px;
	border: 1px solid #BFBFBF;
	margin-top: 30px;
	margin-bottom: 10px;
	background-image: url(../img/zhanghu.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 4% center;
	
}

.login_password {
	height: 40px;
	width: 250px;
	border: 1px solid #BFBFBF;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(../img/password.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 4% center;
}

.login_btn {
	height: 40px;
	width: 290px;
	background: #F41443;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 5px 5px 5px 5px;
	color: white;
}

.login_select {}

.weibo {
	background-image: url(../img/weibo.png);
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: left center;
	margin-right: 15px;
}

.zhifubao {
	background-image: url(../img/zhifubao.png);
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: left center;
	margin-left: 15px;
}

.renmenber_user {
	line-height: 40px;
	float: left;
}

.renmenber_user input {
	float: left;
	margin-top: 15px;
}

.login_bottom {
	float: left;
	margin-top: 16px;
	margin-left: 63px;
}


/*---------------------*/

.link {
	margin-top: 60px;
	height: 40px;
	background: white;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #BFBFBF;
	border-top: 1px solid #BFBFBF;
}

/*.link a {
	color: #;
}*/

.link li {
	margin-left: 5px;
	margin-right: 5px;
}

.copyright {
	height: 70px;
	background: white;
	text-align: center;
	color: #808080;
	padding-top: 7px;
}